.gallerybody{
    width: 80%;
    margin:100px auto 50px;
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(4,1fr);
}

.gallerybody img{
    width: 100%;
    cursor: pointer;
}

.gallerybody img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 8px 8px -4px lightblue;
}
.fullimg{
    width: 100%;
    height:100vh;
    background-color: rgba(255, 255, 255, 0.705);
    position: fixed;
    top:0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.fullimg img{
    width:80%;
    max-width:500px;
    cursor: pointer;
}
.galtitle{
     
    font-size: 3.5em;
    font-weight: bold;
    color: rgb(239 131 131);
    margin: 24px 0px;
    margin-left: 3em;
    border-bottom: 2px solid;
    
    
    
}