:root {
  --dblue: rgb(37 92 139);
}


/* //////////////imported fonts/////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* few general class */
.headingb {
  font-family: "Poppins", sans-serif;
}

.subheadb {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.subheadl {
  font-family: "Source Serif Pro", serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.bebas {
  font-family: 'Bebas Neue', cursive;
}

.ptsans {
  font-family: 'PT Sans', sans-serif;
}

.gentitle {
  font-size: 3em;
  font-weight: bold;
  margin: 24px 0px;
}

.aligncenter {
  align-self: center;
  justify-content: center;
}

/* footer page csss  */

.footer {
  height: 95px;
  background-color: rgba(255, 127, 80, 0);
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.footer i {
  font-size: 2em;
}

.info {
  display: grid;

  grid-template-rows: 1fr 1fr;
}

.info div {
  height: 20px;
  font-weight: bold;
}

.info div:first-child {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
  height: 25px;
  ;
  color: rgb(74 69 69);
}

.firstword:first .footerend {
  justify-content: end;
  align-content: end;
}

.socialfooter {
  display: grid;
  justify-content: end;
  align-content: end;

}

.fire {
  color: #ff5858;
}

/* //////index css  */
nav ul li a:hover {
  text-decoration: 3px underline #607d8bc7;
  font-size: larger;
}

nav ul li a::first-letter {
  font-size: large;
  font-weight: bold;
}

.indexcontainer {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;

}


.left {
  display: grid;
  width: 39%;
  height: 490px;
  grid-template-columns: 8% auto;
  grid-template-rows: 10% auto 10%;
  z-index: 6;
  border-radius: 8px;
  background-color: rgb(230 218 206 / 60%);
  font-size: xx-large;

}

.socialbar {

  grid-row: 1 /span 3;
  display: grid;
  align-items: center;
  border-left: 1px solid var(--dblue);
}


.right {
  width: 50%;
  min-height: 400px;
  background-color: #607d8bc7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}

#model {
  width: 1000px;
  height: auto;
  border-radius: 5px;
}

.mainbox {
  background-color: rgb(255, 234, 224);
  display: grid;
  justify-content: center;

  align-items: center;
}



a {
  text-decoration: none;
}

.navbar a {
  color: black;
}

.navbar .brand {
  display: block;
  padding: 0 24px;
  font-size: 24px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul li a {
  color: black;
  padding: 24px;
  display: block;
}

/* index page */
.biobody {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}

.orange {
  height: 650px;

  background-color: rgb(230, 218, 206);
}

.blank {

  margin-left: 12vw;
  margin-top: 130px;
  width: 300px;
  height: 400px;
  display: grid;

  justify-items: start;
}

#title {
  align-self: end;
  font-size: 6em;
  font-weight: bolder;
  color: rgb(21, 21, 22);
}

#subtitle {
  font-weight: bold;
  margin-top: 20px;
  grid-auto-rows: 50px;
}

#button button {
  border: 2px solid;
  border-radius: 20px;
  margin: 1px 4px;
  padding: 8px 29px;
  font-weight: bold;
  font-size: 1rem;
}

#btn1 {
  background-color: var(--dblue);
  color: white;
  font-weight: bold;
}

#btn2 {
  border: 3px;
}

#btn2:hover {
  background-color: var(--dblue);
  color: white;

}

#about {
  color: black;
}


.imagebody {
  z-index: 6;
  position: absolute;
  background-color: rgb(244, 236, 230);
  height: 400px;
  margin-top: -500px;
  width: 300px;
  margin-left: 30vw;
  display: grid;
  justify-items: center;
}

#name {
  align-self: center;
  border-bottom: 2px rgb(0, 25, 136) solid;
}

/* //////universal class/// */


#profileimg>img {
  border-radius: 40%;


}

#social {
  align-content: space-between;

  align-items: baseline;
}

/* ///////////////////////contact form  ////////////////// */

.box {
  margin: auto 0px;
  width: 800px;
  display: grid;
  margin: 0 auto;
  background-color: rgb(230, 218, 206);
  font-size: 2em;
  grid-row-gap: 2em;
  justify-items: center;
}

label {
  font-size: 0.7em;
  font-weight: bold;
}

form>div {
  margin: 0;
  padding: 0;
}

input {
  padding: 5px 5px;
  margin: 8px 0;
  box-sizing: border-box;

  font-weight: bold;
}

input:focus {
  border: 3px solid rgb(209, 161, 28);
  border-radius: 30px;
  background-color: #f1f1f1;
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  /* box-sizing: border-box; */
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* /////////////////education page //////////// */

.center {
  align-self: center;
}

.educontainer {

  height: 172px;
  width: 592px;
  display: grid;
  grid-template-columns: 10px auto;
  grid-template-rows: 6% 1fr 1fr;
  column-gap: 0.9em;

}

.item1 {
  border: 2px solid white;
  grid-row-start: 1;
  grid-column-start: 1;
  align-self: center;
  z-index: 2;
}

.item2 {
  font-size: xx-large;
  z-index: 3;
}

.item3 {
  background-color: #2a74a591;
  grid-row-start: 1;
  grid-column: 1;
  grid-row: 1 / span 4;

  margin-left: 10px;
  width: 3px;
}

.item4 {
  padding-top: 10px;
}

.circle {
  background: var(--dblue);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* ///////////hobbies page////// */

.maincont {
  display: grid;
  justify-content: center;
  background-color: burlywood;


}


.hobtitle {
  margin-left: 8.8em;
  ;
  font-size: 3.5em;
  font-weight: bold;
  color: #741e1e91;


  font-family: 'Bebas Neue', cursive;

}

.hobcontainer {
  background-color: white;
  height: 335px;
  width: 40%;
  display: grid;
  grid-template-columns: 8px 1fr;
  grid-template-rows: 68px 50px 1fr 1fr;
  column-gap: 0.7em;
  margin: 30px auto;
}

.ribbon {
  grid-row: 1 / span 2;
  background-color: var(--dblue);
  height: 47px;
  align-self: center;
}

.title {
  align-self: end;
  font-size: xx-large;
  font-weight: bolder;
  color: var(--dblue);
}

.desc {
  grid-row: 1 / span 4;
  grid-column: 3;
  background-color: blue;
}

.desc>img {
  width: 100%;
  height: 100%;
}

.subdesc {
  align-self: start;
  height: 20px;
}

.pic {
  grid-row: 3 / span 4;
  grid-column: 2;
}

.experience>p {
  text-align: center;
}

/* ///////achivement////////// */

.hobcontainer {
  background-color: white;
  height: 335px;
  width: 40%;
  display: grid;
  grid-template-columns: 8px 1fr;
  grid-template-rows: 68px 50px 1fr 1fr;
  column-gap: 0.7em;
  margin: 30px auto;
}

.achcontainer {
  background-color: white;
  height: 335px;
  width: 72%;
  display: grid;
  grid-template-columns: 34px 1fr 29%;
  grid-template-rows: 68px 50px 1fr 1fr;
  column-gap: 0.7em;
  margin: 20px;
  margin-right: -100px;
  justify-content: center;
  box-shadow: 15px 10px 10px rgb(0 0 0 / 30%);
}

.achcontainer .ribbon {

  grid-row: 1 / span 4;
  background-color: #deb887;
  height: 100%;

  display: grid;
  place-items: center;

}

.out {
  background-color: rgb(222 184 135);
  height: 87px;

  position: relative;
}

.out h3 {
  position: absolute;

  left: -23px;

  background-color: #8abcb6;
  transform-origin: 0 0;
  padding: 10px;
  font-size: x-large;
  transform: rotate(270deg);
}

.centerline {
  border-right: 1px solid rgb(0 8 255 / 51%);
  left: 50%;
}

.achcontainer .desc {
  background-color: grey;
  font-size: 3rem;
}

sup {
  vertical-align: super;
  font-size: 2.5rem;
}

/* //////////contact me/////////// */

.contform {
  font-size: medium;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: var(--dblue);

}

input:focus-visible {
  color: var(--dblue);
}

textarea:focus-visible {
  color: var(--dblue);
}

.contitle {
  margin-left: 8.8em;
  ;
  font-size: 4em;
  font-weight: bold;
  color: var(--dblue);
}

/* ////skills page////// */

.skillcont {
  background-color: white;
  height: 30vh;
  width: 40%;
  align-self: start;
  display: grid;
  grid-template-rows: 14% 1fr 2fr;
}

.skillconthead {

  background-color: grey;
  font-size: 2em;
}

.exp {
  grid-row: 2;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #000 50%, #FFF 50%) 100% 1;

}

.year {
  font-size: 4em;
  color: var(--dblue);
}

.skillwrap {
  display: grid;
  grid-template-columns: 20% auto;
  margin: 20px 0px;



}

.skimg {

  align-self: center;
  justify-self: center;
  border-radius: 50%;
  ;
}

.skimg>img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}