
.maincont {
  display: grid;
  justify-content: center;
  background-color: burlywood;

  /* grid-template-columns: 20% 60% 20%; */
}

/* .maincont > div {
  width: 635px;
} */

.hobcontainer {
  background-color: white;
  height: 335px;
  width: 40%;
  display: grid;
  grid-template-columns: 8px 1fr ;
  grid-template-rows: 68px 50px 1fr 1fr;
  column-gap: 0.7em;
  margin: 30px auto;
}

.ribbon {
  grid-row: 1 / span 2;
  background-color:var(--dblue);
  height: 47px;
  align-self: center;
}
.title {
  align-self: end;
  font-size: xx-large;
  font-weight: bolder;
  color: var(--dblue);
}
.desc {
  grid-row: 1 / span 4;
  grid-column: 3;
  background-color: blue;
}

.desc > img {
  width: 100%;
  height: 100%;
}
.subdesc {
  align-self: start;
  height: 20px;
}
.pic {
  grid-row: 3 / span 4;
  grid-column: 2;
}

.experience > p {
  text-align: center;
}
